.page {
    background-color: var(--primary-white-color);
    color: var(--secondary-text-color);
    font-family: var(--primary-font-family);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}


.main-nav {
    display: flex;
    align-items: center;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color)
}
.site-nav .link .current {
    color: var(--accent-color)
    
}


.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav {
    display: flex;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;


}

.nav-list {
    margin-left: 93px;
}

.mail-number {
    display: flex;
    color: var(--secondary-text-color);
    font-weight: 500;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-number:hover .icon-mail,
.mail-number:focus .icon-mail {
    fill: var(--accent-color);
}

.mail-number:hover,
.mail-number:focus {    
    color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.phone-mail {
    display: flex;
    margin-left: auto;
}

.phone-mail .item+ .item {
    margin-left: 50px;
}

.item {
    display: flex;
    color: var(--secondary-text-color);
    align-items: center;

}

